/* Home */

html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    color: #545454;
    background-color: #DDEFFF;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    margin-bottom: 15px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* menu & close buttons */
.menu-btn, .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.menu-btn img, .close-btn img {
    height: 22px;
    width: 22px;
    object-fit: contain;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.side-nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 15px;
    top: 0;
    left: -250px;
    height: 98vh;
    width: 230px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 0 8px rgba(0,0,0,0.09);
    transition: 0.3s ease;
    z-index: 1000;
}

.side-nav.open {
    left: 0;
}

.logo {
    text-align: center;
    font-weight: 700;
}

/* Sidebar links */
.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: #545454;
    font-weight: 500;
}

.nav-link img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    transition: filter 0.2s ease;
}

.nav-link:hover {
    background-color: #f2f8ff;
}

.nav-link.active {
    background-color: #00E66D;
    color: white;
}

.nav-link.active img {
    filter: brightness(0) invert(1);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 900;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.layout {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
}

.recentcard {
    background-color:#ffffffa8;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.06);
}

.recentcard .icon img {
    width: 100px;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
    color: gray;
}

/* Buttons */
.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #545454;
    box-shadow: 0 3px 0;
}

.btn img {
    width: 18px;
    height: 18px;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(1px);
}

.btn.pink {
    background-color: #FF8FDD;
    box-shadow: 0 3px 0 #B10099;
}

.btn.yellow {
    background-color: #F3D700;
    box-shadow: 0 3px 0 #CF9101;
}

.btn.blue {
    background-color: #00C3FF;
    box-shadow: 0 3px 0 #009CB4;
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
        margin: 20px auto;
    }
}

/*Infinite slider*/

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
    );
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s Linear infinite;
    transform: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1))!important;
}

.slider .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from{
        left: 100%;
    } to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

/* Feedback card slider*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    margin: 60px auto;
    max-width: 1100px;
    width: 100%;
    padding: 0 35px;
    position: relative;

}

.wrapper i {
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.023);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .imgprofile) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel .dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .imgprofile {
    background-color: #0CB100;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .imgprofile img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    color: grey;
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}



/* Quiz */

.contents {
    font-family: "Quicksand", sans-serif;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}


body {
    font-family: "Quicksand", sans-serif;
    background-color: #DDEFFF;
}

.quizbody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.containerquiz {
    width: 100%;
    max-width: 600px;
    /*margin: 0 auto;*/
    text-align: center;
}

h1 {
    align-items: center;
    margin-bottom: 20px;
    color:#545454;
}

#questionhis {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#questionmath {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#questionsci {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#questiongeo {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#questiongen {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#questionam {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#545454;
}

#choicesmath {
    margin-bottom: 20px;
}

#choicessci {
    margin-bottom: 20px;
}

#choicesgeo {
    margin-bottom: 20px;
}

#choicesgen {
    margin-bottom: 20px;
}

#choicesam {
    margin-bottom: 20px;
}

.choice-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid #545454;
    border-radius: 15px;
    background-color: #cfe9ff;
    color:#545454;
}

.choice-btn:hover {
    background-color: #e9f5ff;
    box-shadow: 0px 3px 0px #7e7e7e;
}

#resulthis {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}

#resultmath {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}

#resultsci {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}

#resultgeo {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}

#resultgen {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}

#resultam {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #545454;
}


.back-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 45px;
    box-shadow: 0px 3px 0px #E7D500;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: yellow;
    color: #545454;
}

.back-btn:hover {
    background-color: #E7D500;
}

.history-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 90px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #EBF300;
    box-shadow: 0px 3px 0px #C7B700;
}


.math-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 100px;
    box-shadow: 0px 3px 0px #BD8B00;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #EFBF2E;
    box-shadow: 0px 3px 0px #BD8B00;
}

.science-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 90px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #B7F400;
    box-shadow: 0px 3px 0px #95C600;

}

.geography-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 73px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #63E600;
    box-shadow: 0px 3px 0px #0CB100;
}

.general-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 35px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #00F2FF;
    box-shadow: 0px 3px 0px #00B4B4;
}

.am-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #545454;
    background-color: #A9F4FF;
    box-shadow: 0px 3px 0px #93DDE7;
}

.quiz-btn {
    justify-content: center;
    align-items: center;
    grid-column-end: 1;
}

.quiz {
    display: none;
}

.quiz.current {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#quizzespage {
    gap:20px;
}

